@import "tailwindcss";
@plugin "daisyui";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";

/* Light Theme (Corporate) */
:root,
:root[data-theme="corporate"] {
  --color-base-100: #ffffff;
  /* White cards */
  --color-base-200: #f1f5f9;
  /* Slate-100 background (Cleaner, high contrast for cards) */
  --color-base-300: #cbd5e1;
  /* Slate-300 borders */
  --color-base-content: #0f172a;
  /* Slate-900 text (Deeper for better contrast) */

  background-color: var(--color-base-200);
  color: var(--color-base-content);
}

/* Dark Theme */
:root[data-theme="dark"] {
  --color-base-100: #1e293b;
  /* Slate-800 cards */
  --color-base-200: #020617;
  /* Slate-950 background (Deep Dark) */
  --color-base-300: #0f172a;
  /* Slate-900 borders */
  --color-base-content: #f8fafc;
  /* Slate-50 text */

  background-color: var(--color-base-200);
  color: var(--color-base-content);
}